@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}


*:not(dialog) {
  margin: 0;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root {
  isolation: isolate;
}

:root {
  --card-border-color: #dbdfe5;
  --background-color: #fafafa;
  --primary-color: #007bff;
  --card-border-selected: var(--primary-color);
  --text-color: #555;
}